@import url('https://fonts.googleapis.com/css?family=Lato|PT+Sans');
@import "~bourbon/app/assets/stylesheets/_bourbon.scss";
@import "~normalize.css";

// Variables
$primary_color_m: #ff5a5f;
$primary_color_l: #ff7e82;
$link_color: #008489;
$link_hover: #484848;
$border_l: #dce0e0;
$text_color: #767676;


@function top-shadow($depth) {
  $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
  $blur: nth(1.5 3 10 14 19, $depth) * 4px;
  $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

  @return 0 $primary-offset $blur $color;
}

@function bottom-shadow($depth) {
  $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
  $blur: nth(1 3 3 5 6, $depth) * 4px;
  $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

  @return 0 $primary-offset $blur $color;
}

@mixin card($depth) {
  @if $depth < 1 {
    box-shadow: none;
  } @else if $depth > 5 {
    @warn "Invalid $depth `#{$depth}` for mixin `card`.";
  } @else {
    box-shadow: bottom-shadow($depth), top-shadow($depth);
  }
}


body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
  font-family: sans-serif;
  font-family: 'PT Sans', sans-serif;
  background-color: #f1f1f1;
  color: $text_color;
}

p, span{
	font-family: 'PT Sans', sans-serif;
  color: $text_color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	letter-spacing: 0.03em;
  color: $link_hover;
  span{
    color: $primary_color_m;
  }
}

a{
  text-decoration: none;
  color: $link_color;
}

a:hover, a:focus {
  color: $link_hover;
}

// Header
.header_bg{
  background: #fff;
  border-bottom: 1px solid $border_l;
  padding: 8px;
  color: #424242;
  z-index: 9999;
  .navright, .navleft{
    width: 100%;
    .logo{
      max-width: 150px;
      padding: 8px;
      font-size: 20px;
      padding-right: 18px;
      border-right: 1px solid $border_l;
    }
    li{
      padding: 4px;
      margin: 0 4px;
      display: inline;
      list-style-type: none;
      &:nth-child(2){
        padding-left: 18px;
      }
    }
  }
}

// Slider
.slider_bg{
  background: url('../assets/images/slider.jpeg') no-repeat #191919;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 500px;
  .slider_text{
    height: 500px;
    h1{
      color: #ffffff;
    }
  }
}

// Footer
.footer_bg{
  background-color: #e3e3e3;
  border-top: 4px solid $border_l;
  padding: 24px 0;
  .footer_text{
    color: #191919;
  }
}

// Tasks Page
.tasks_bg{
  .tmap{
    width: 100%;
    height: 100%;
    background-color: #191919;
  }
  .tmain{
    margin-right: -16px;
    overflow-y: scroll;
  }
}

/*
==========================================
TaskBox
==========================================
*/
.tasksbox{
  overflow-x: hidden;
}

.taskbox{
  overflow: hidden;
  border-bottom: 1px solid $border_l;
  padding: 4px;
  .taskbox_avatar{
    height: auto;
    width: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    img{
      width: 100%;
    }
  }
  .taskbox_title{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
  }
  .taskbox_location{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
  }
  .taskbox_price{
    text-align: center;
  }
}

/*
==========================================
Single Task
==========================================
*/

.stask{
  padding: 0 8px;
  .stask_title{

  }
  .stask_meta{
    li{
      list-style-type: none;
      display: inline-block;
    }
    .stask_avatar{
      width: 80px;
      height: 80px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    .stask_posted{

    }
  }
  .stask_price{

  }
}

/*
==========================================
Login / Signup
==========================================
*/
.login, .signup{
  ul{
    li{
      list-style-type: none;
      padding: 8px 0;
    }
  }
}

/*
==========================================
Dialog
==========================================
*/

.dialog{
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.17);
  @include card(1);
  .dialog_title{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 48px;
  }
  .dialog_close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px;
  }
  .dialog_content{
    position: relative;
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
}
