@import url('https://fonts.googleapis.com/css?family=Lato|PT+Sans');
@import "~bourbon/app/assets/stylesheets/_bourbon.scss";
@import "~normalize.css";
@import "./pre.scss";
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
  font-family: sans-serif;
  font-family: 'PT Sans', sans-serif;
  background-color: #f1f1f1;
  color: $text_color;
}

ul, li {
  margin: 0;
  padding: 0;
}
p, span{
	font-family: 'PT Sans', sans-serif;
  color: $text_color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	letter-spacing: 0.03em;
  color: $link_hover;
  span{
    color: $primary_color_m;
  }
}

a{
  text-decoration: none;
  color: $link_color;
}

a:hover, a:focus {
  color: $link_hover;
}



// Tasks Page
.tasks_bg{


}
